{% extends 'layout/base.html' %} {% block content %}

<!-- BEGIN SLIDER -->
<div class="page-slider margin-bottom-35">
  <!-- LayerSlider start -->
  <div id="layerslider" style="width: 100%; height: 494px; margin: 0 auto">
    <!-- slide one start -->
    <div
      class="ls-slide ls-slide1"
      data-ls="offsetxin: right; slidedelay: 7000; transition2d: 24,25,27,28;"
    >
      <img
        src="{{ url_for('static', filename = 'styles/assets/frontend/pages/img/layerslider/slide1/bg.jpg') }}"
        class="ls-bg"
        alt="Slide background"
      />

      <div
        class="ls-l ls-title"
        style="top: 96px; left: 35%; white-space: nowrap"
        data-ls="
        fade: true; 
        fadeout: true; 
        durationin: 750; 
        durationout: 750; 
        easingin: easeOutQuint; 
        rotatein: 90; 
        rotateout: -90; 
        scalein: .5; 
        scaleout: .5; 
        showuntil: 4000;
      "
      >
        Welcome <strong>To </strong>Laptop UTE
      </div>

      <div
        class="ls-l ls-mini-text"
        style="top: 330px; left: 35%; white-space: nowrap; color: #ffffffaf;"
        data-ls="
      fade: true; 
      fadeout: true; 
      durationout: 750; 
      easingin: easeOutQuint; 
      delayin: 300; 
      showuntil: 4000;
      "
      >
       Everythings you want here!
      </div>
    </div>
    <!-- slide one end -->

    <!-- slide two start -->
    <div
      class="ls-slide ls-slide2"
      data-ls="offsetxin: right; slidedelay: 7000; transition2d: 110,111,112,113;"
    >
      <img
        src="{{ url_for('static', filename = 'styles/assets/frontend/pages/img/layerslider/slide2/bg.jpg') }}"
        class="ls-bg"
        alt="Slide background"
      />

      <div
        class="ls-l ls-title"
        style="top: 40%; left: 21%; white-space: nowrap"
        data-ls="
      fade: true; 
      fadeout: true;  
      durationin: 750; durationout: 109750; 
      easingin: easeOutQuint; 
      easingout: easeInOutQuint; 
      delayin: 0; 
      delayout: 0; 
      rotatein: 90; 
      rotateout: -90; 
      scalein: .5; 
      scaleout: .5; 
      showuntil: 4000;
      "
      ></div>

      <div
        class="ls-l ls-price"
        style="top: 50%; left: 45%; white-space: nowrap"
        data-ls="
      fade: true; 
      fadeout: true;  
      durationout: 109750; 
      easingin: easeOutQuint; 
      delayin: 300; 
      scalein: .8; 
      scaleout: .8; 
      showuntil: 4000;"
      >
        <b>from</b> <strong><span>$</span>100</strong>
      </div>
    </div>
    <!-- slide two end -->

    <!-- slide three start -->
    <div
      class="ls-slide ls-slide3"
      data-ls="offsetxin: right; slidedelay: 7000; transition2d: 92,93,105;"
    >
      <img
        src="{{ url_for('static', filename = 'styles/assets/frontend/pages/img/layerslider/slide3/bg.jpg') }}"
        class="ls-bg"
        alt="Slide background"
      />

      <div
        class="ls-l ls-title"
        style="top: 83px; left: 33%; white-space: nowrap"
        data-ls="
      fade: true; 
      fadeout: true; 
      durationin: 750; 
      durationout: 750; 
      easingin: easeOutQuint; 
      rotatein: 90; 
      rotateout: -90; 
      scalein: .5; 
      scaleout: .5; 
      showuntil: 4000;
      "
      >
        Ecommerce &amp; More <strong>LAPTOP UTE</strong> Is Ready For You
      </div>
      <div
        class="ls-l"
        style="
          top: 333px;
          left: 33%;
          white-space: nowrap;
          font-size: 20px;
          font: 20px 'Open Sans Light', sans-serif;
        "
        data-ls="
      fade: true; 
      fadeout: true; 
      durationout: 750; 
      easingin: easeOutQuint; 
      delayin: 300; 
      scalein: .8; 
      scaleout: .8; 
      showuntil: 4000;
      "
      >
        <a href="" class="ls-buy"> Check It Now! </a>
        <div class="ls-price">
          <span>The Best Price Only!</span>
        </div>
      </div>
    </div>
    <!-- slide three end -->

    <!-- slide four start -->
    <div
      class="ls-slide ls-slide4"
      data-ls="offsetxin: right; slidedelay: 7000; transition2d: 110,111,112,113;"
    >
      <img
        src="{{ url_for('static', filename = 'styles/assets/frontend/pages/img/layerslider/slide5/bg.jpg') }}"
        class="ls-bg"
        alt="Slide background"
      />

      <div
        class="ls-l ls-title"
        style="top: 35%; left: 60%; white-space: nowrap"
        data-ls="
      fade: true; 
      fadeout: true; 
      durationin: 750; 
      durationout: 750; 
      easingin: easeOutQuint; 
      rotatein: 90; 
      rotateout: -90; 
      scalein: .5; 
      scaleout: .5; 
      showuntil: 4000;"
      >
        The most<br />
        wanted Laptop
      </div>

      <div
        class="ls-l ls-mini-text"
        style="top: 70%; left: 60%; white-space: nowrap"
        data-ls="
      fade: true; 
      fadeout: true;  
      durationout: 750; 
      easingin: easeOutQuint; 
      delayin: 300; 
      scalein: .8; 
      scaleout: .8; 
      showuntil: 4000;"
      >
        <span>Only available for a limited time</span>
        <a href="">Get It Now!</a>
      </div>
    </div>
    <!-- slide four end -->
  </div>
  <!-- LayerSlider end -->
</div>
<!-- END SLIDER -->

<div class="main">
  <div class="container">
    <!-- BEGIN SALE PRODUCT & NEW ARRIVALS -->
    <div class="row margin-bottom-40">
      <!-- BEGIN SALE PRODUCT -->
      <div class="col-md-12 sale-product">
        <h2>New Arrivals</h2>
        <div class="owl-carousel owl-carousel5">
          {% for p in new_products %}
          <div>
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img
                  src="{{ p.image }}"
                  class="img-responsive"
                  alt="NEW LAPTOP"
                />
                <div>
                  <a
                    href="{{ p.image }}"
                    class="btn btn-default fancybox-button"
                    >Zoom</a
                  >
                </div>
              </div>
              <h3>
                <a href="/item-detail?product-id={{ p.id }}">{{p.name}}</a>
              </h3>
              <div class="pi-price">${{p.price}}</div>
              <a
                href="javascript:;"
                class="btn btn-default add2cart {% if p.amount|int==0 %}disabled{% endif %}"
                onclick="addToCart({{p.id}}, '{{p.name}}', {{p.price}}, '{{p.image}}', '{{p.chip}}', {{p.ram}})"
                >Add to cart</a
              >
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- END SALE PRODUCT -->
    </div>
    <!-- END SALE PRODUCT & NEW ARRIVALS -->

    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
      <!-- BEGIN SIDEBAR -->
      <div class="sidebar col-md-3 col-sm-4">
        <ul class="list-group sidebar-menu" style="margin-bottom: unset;
        height: 350px;">
          {% for b in brand %}
          <li class="list-group-item clearfix">
            <a href="/product-list?brand-id={{b.id}}"
              ><i class="fa fa-angle-right"></i>{{ b.name }} : {{
              count_productbybid(b.id) }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
      <!-- END SIDEBAR -->
      <!-- BEGIN CONTENT -->
      <div class="col-md-9 col-sm-8">
        <h2>Most popular</h2>
        <div class="owl-carousel owl-carousel3">
          {% for p in mostpupular_products %}
          <div>
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img
                  src="{{ p.image }}"
                  class="img-responsive"
                  alt="Berry Lace Dress"
                />
                <div>
                  <a
                    href="{{ p.image }}"
                    class="btn btn-default fancybox-button"
                    >Zoom</a
                  >
                </div>
              </div>
              <h3>
                <a href="/item-detail?product-id={{ p.id }}">{{ p.name }}</a>
              </h3>
              <div class="pi-price">${{p.price}}</div>
              <a
                href="javascript:;"
                class="btn btn-default add2cart {% if p.amount|int==0 %}disabled{% endif %}"
                onclick="addToCart({{p.id}}, '{{p.name}}', {{p.price}}, '{{p.image}}', '{{p.chip}}', {{p.ram}})"
                >Add to cart</a
              >
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->

    <!-- BEGIN TWO PRODUCTS & PROMO -->
    <div class="row margin-bottom-35">
      <!-- BEGIN TWO PRODUCTS -->
      <div class="col-md-6 two-items-bottom-items">
        <h2 style="color: #e84d1c;">Bestsellers</h2>
        <div class="owl-carousel owl-carousel2">
          {% for p in bestseller_products %}
          <div>
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img
                  src="{{p.image}}"
                  class="img-responsive"
                  alt="Berry Lace Dress"
                />
                <div>
                  <a
                    href="{{ p.image }}"
                    class="btn btn-default fancybox-button"
                    >Zoom</a
                  >
                </div>
              </div>
              <h3>
                <a href="/item-detail?product-id={{ p.id }}">{{p.name}}</a>
              </h3>
              <div class="pi-price">${{p.price}}</div>
              <a
                href="javascript:;"
                class="btn btn-default add2cart {% if p.amount|int==0 %}disabled{% endif %}"
                onclick="addToCart({{p.id}}, '{{p.name}}', {{p.price}}, '{{p.image}}', '{{p.chip}}', {{p.ram}})"
                >Add to cart</a
              >
            </div>
          </div>
          {% endfor %}
        </div>
        <div
          style="
            width: 200%;
            height: 15px;
            background: #e84d1c;
            margin-top: 18px;
            border-radius: 10px !important;
          "
        ></div>
      </div>
      <!-- END TWO PRODUCTS -->
      <!-- BEGIN PROMO -->
      <div class="col-md-6 shop-index-carousel">
        <div class="content-slider">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li
                data-target="#myCarousel"
                data-slide-to="0"
                class="active"
              ></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <img
                  src="{{ url_for('static', filename = 'styles/assets/frontend/pages/img/index-sliders/slide1.jpg') }}"
                  class="img-responsive"
                  alt="Berry Lace Dress"
                />
              </div>
              <div class="item">
                <img
                  src="{{ url_for('static', filename = 'styles/assets/frontend/pages/img/index-sliders/slide2.jpg') }}"
                  class="img-responsive"
                  alt="Berry Lace Dress"
                />
              </div>
              <div class="item">
                <img
                  src="{{ url_for('static', filename = 'styles/assets/frontend/pages/img/index-sliders/slide3.jpg') }}"
                  class="img-responsive"
                  alt="Berry Lace Dress"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END PROMO -->
    </div>
    <!-- END TWO PRODUCTS & PROMO -->
  </div>
</div>
{% block brand %}
<!-- BEGIN BRANDS -->
<div class="brands">
  <div class="container">
        <div class="owl-carousel owl-carousel6-brands">
        {% for b in brand %}
        <a href="/product-list?brand-id={{ b.id }}">
          <img src="{{b.icon}}" alt="{{ b.name }}" title="{{ b.name }}" style="width:120px;height:120px;object-fit: contain;padding: 15px;">
      </a>        {% endfor %}
        </div>
    </div>
</div>
<!-- END BRANDS -->
{% endblock %}
{% endblock %}


