{% extends "layout/base.html" %}
{% block content %}
<div class="main">
  <div class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Careers</li>
    </ul>
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
      <!-- BEGIN CONTENT -->
      <div class="col-md-9 col-sm-9">
        <h1>Careers</h1>
        <div class="content-page">
          <!-- BEGIN CAROUSEL -->            
          <div class="front-carousel margin-bottom-20">
            <div id="myCarousel" class="carousel slide">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="{{ url_for('static', filename = 'styles/assets/frontend/pages/img/posts/img1.jpg') }}" alt="">
                </div>
              <div class="item">
                <img src="{{ url_for('static', filename = 'styles/assets/frontend/pages/img/posts/img3.jpg') }}" alt="">
              </div>
            </div>
            <!-- Carousel nav -->
              <a class="carousel-control left" href="#myCarousel" data-slide="prev">
              <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">
              <i class="fa fa-angle-right"></i>
            </a>
          </div>                
        </div>
        <!-- END CAROUSEL --> 

                <!-- BEGIN INFO BLOCK -->               
                <h2>Our Information</h2>
                <!-- BEGIN LISTS -->
                <div class="row front-lists-v1">
                    <div class="col-md-6">
                        <ul class="list-unstyled margin-bottom-20">
                            <li><i class="fa fa-check"></i>Phan Tai Nguyen</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-check"></i>Bui Truong Thinh</li>
                        </ul>
                    </div>
                </div>
                <!-- END LISTS -->
                <!-- END INFO BLOCK -->

                <h2>Our positions</h2>
                <div id="accordion1" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">
                                For more detail
                                </a>
                            </h4>
                        </div>
                        <div style="height: 0px;" id="accordion1_1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p class="lead">For more detail</p>

                                <h4>Name</h4>
                                <ul>
                                    <li>Phan Tai Nguyen</li>
                                    <li>Bui Truong Thinh</li>
                                </ul>

                                <p>Something more here....</p>

                                <h4>Responsibilities</h4>
                                <ul>
                                    <li>Something here...</li>
                                    <li>Somethign here...</li>
                                </ul>

                                <hr>
                                <p>PyWeb Project</p>
                            </div>
                        </div>
                    </div>         
                </div>                
        </div>
      </div>

      <div class="col-md-3 col-sm-3 sidebar2">
        <h2 class="padding-top-30">Our Contacts</h2>
        <address>
          <strong>DHSG</strong><br>
          <br>
          An Duong Vuong Street, District 5<br>
          Ho Chi Minh City <br>
          Viet Nam <br>
          <abbr title="Phone">P:</abbr> +842837221223
        </address>
        <address>
          <strong>Email</strong><br>
          <a href="">ptn@email.com</a><br>
          <a href="">btt@example.com</a>
        </address>

        <h2 class="padding-top-20">Contact Form</h2>
        <!-- BEGIN FORM-->
        <form role="form">
          <div class="form-group">
            <label for="career-name">Name</label>
            <input type="text" class="form-control" id="career-name">
          </div>
          <div class="form-group">
            <label for="career-position">Position</label>
            <select class="form-control" id="career-position">
              <option>FrontEnd Modifier</option>
              <option>BackEnd Enginer</option>
              <option>Technical Support Engineer</option>
            </select>
          </div>
          <div class="form-group">
            <label for="career-resume">Resume</label>
            <input type="file" id="career-resume">
          </div>
          <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Send</button>
        </form>
        <!-- END FORM-->                                     
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- BEGIN SIDEBAR & CONTENT -->
  </div>
</div>
{% endblock %}