{% extends "layout/base.html" %} {% block content %}
<div class="main">
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/user-edit-account">My Account</a></li>
      <li class="active">Order History</li>
    </ul>
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
      <!-- BEGIN SIDEBAR -->
      <div class="sidebar col-md-3 col-sm-3">
        <ul class="list-group margin-bottom-25 sidebar-menu">
          <li
            class="list-group-item clearfix"
            style="height: 100px; text-transform: initial"
          >
            <div
              style="
                display: flex;
                justify-content: start;
                align-items: center;
                padding-bottom: 15px;
                border-bottom: 1px solid #dbdbdb;
              "
            >
              <img
                style="max-width: 60px; border-radius: 50%"
                src="{{ url_for('static', filename = 'images/user.png') }}"
                alt="user"
              />
              <div style="margin-left: 15px">
                <p style="padding: unset; font-weight: 600; margin-bottom: 2px">
                  {{current_user.name}}
                </p>
                <span style="opacity: 0.5"
                  ><span style="color: #556080"
                    ><i class="fa fa-pencil"></i
                  ></span>
                  Change info</span
                >
              </div>
            </div>
          </li>
          <li class="list-group-item clearfix" style="height: 120px">
            <a href="" style="pointer-events: none; font-weight: bold"
              ><i class="fa fa-user" style="margin-right: 5px"></i>My Account</a
            >
            <ul style="list-style: none; padding: 0 20px">
              <li style="padding-top: 5px">
                <a style="text-transform: initial" href="/user-edit-account"
                  >Profile</a
                >
              </li>
              <li>
                <a style="text-transform: initial" href="/user-change-password"
                  >Change password</a
                >
              </li>
            </ul>
          </li>
          <li class="list-group-item clearfix" style="height: 80px">
            <a href="" style="pointer-events: none; font-weight: bold"
              ><i class="fa fa-inbox" style="margin-right: 5px"></i>My Orders</a
            >
            <ul style="list-style: none; padding: 0 20px">
              <li
                style="
                  box-shadow: rgb(0 0 0 / 19%) 0px 5px 7px,
                    rgb(0 0 0 / 23%) 0px 3px 3px;
                  padding: 5px;
                  border: 1px solid #e84d1c;
                  margin: 5px 0;
                  pointer-events: none;
                "
              >
                <a style="text-transform: initial" href="/orders"
                  >Orders history</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- END SIDEBAR -->

      <!-- BEGIN CONTENT -->
      <div class="col-md-9 col-sm-7">
        {% if receipt|length == 0 %}
        <img style="width: 100%;" src="{{ url_for('static', filename = 'images/order_empty.png') }}" alt="order empty"/>
        {% else %}
          {% for r in receipt %}
          <div class="goods-page">
            <div class="goods-data clearfix">
              <h1>
                <span>{{ r.created_date }}</span
                ><span
                  style="text-transform: initial; font-weight: 500; float: right"
                  class="status"
                  >{{r.status}}</span
                >
              </h1>
              <div class="table-wrapper-responsive">
                <table summary="Shopping cart">
                  <tr>
                    <th class="goods-page-image">image</th>
                    <th class="goods-page-description">Product</th>
                    <th class="goods-page-description">quantity</th>
                    <th class="goods-page-price" colspan="2">Total</th>
                  </tr>

                  {% for d in detail %} {% if d.receitp_id|int == r.id|int %} {%
                  for p in product %} {% if p.id|int == d.product_id|int %}
                  <tr>
                    <td class="goods-page-image">
                      <a href="#"
                        ><img src="{{ p.image }}" alt="Berry Lace Dress"
                      /></a>
                    </td>
                    <td class="goods-page-description">
                      <h3><a href="#">{{ p.name }}</a></h3>
                      <p><strong>Chip :</strong> {{ p.chip }}</p>
                      <p><strong>Ram :</strong> {{ p.ram }} GB</p>
                    </td>
                    <td class="goods-page-stock">{{ d.quantity }}</td>
                    <td class="goods-page-price">
                      <strong><span>$</span>{{ d.quantity*p.price }}</strong>
                    </td>
                  </tr>
                  {% endif %} {% endfor %} {% endif %} {% endfor %}
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: end; padding: 0">
                      <button
                        style="
                          width: 50%;
                          border: none;
                          outline: none;
                          color: #fff;
                          font-weight: 600;
                          height: 40px;
                        "
                        onclick="cancelOrder({{r.id}}, {{r.status}});"
                        class="btn-action"
                      >
                        Cancel
                      </button>
                    </td>
                  </tr>
                  <div class="alert alert-warning">
                    {% for o in order %} {% if o.receipt_id|int == r.id|int %}
                    <span style="font-size: medium">To: </span>
                    <span style="font-size: medium" class="text-danger">
                      {{ o.cityname }}</span
                    >
                    <span
                      style="font-size: medium; float: right; font-weight: bold"
                      >Total Amount:
                      <span style="font-size: medium" class="text-danger"
                        >${{ o.price }}</span
                      >
                    </span>
                    {% endif %} {% endfor %}
                  </div>
                </table>
              </div>
            </div>
          </div>
          {% endfor %}
        {% endif %}
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->
  </div>
</div>
<script>
  var btns = document.querySelectorAll(".btn-action");
  var statusNodes = document.querySelectorAll(".status");
  for (let i = 0; i < statusNodes.length; i++) {
    switch (statusNodes[i].textContent.trim()) {
      case "0":
        statusNodes[i].style.color = "#ffe319";
        statusNodes[i].innerHTML = "Pending - Not Paid";
        btns[i].style.backgroundColor = "#d90024";
        btns[i].innerHTML = "Cancel";
        break;
      case "1":
        statusNodes[i].style.color = "#0087e1";
        statusNodes[i].innerHTML = "Pending - Paid";
        btns[i].style.display = "none";
        break;
      case "2":
        statusNodes[i].style.color = "#4fad2e";
        statusNodes[i].innerHTML = "Successed";
        btns[i].style.backgroundColor = "#0087e1";
        btns[i].innerHTML = "Reorder";
        break;
      case "3":
        statusNodes[i].style.color = "#d90024";
        statusNodes[i].innerHTML = "Canceled";
        btns[i].style.backgroundColor = "#0087e1";
        btns[i].innerHTML = "Reorder";
        break;
    }
  }
</script>
{% endblock %}
